<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User List</h1>
    <a routerLink="/user/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Create</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User DataTable</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Country</th>                        
                        <th>State</th>                        
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Country</th>                        
                        <th>State</th>                        
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </tfoot> -->
                <tbody>
                   <tr *ngFor="let user of userList" >
                     <td>{{user.username}}</td>  
                     <td>{{user.email}}</td>  
                     <td>{{user.phone}}</td>  
                     <td>{{user.country}}</td>  
                     <td>{{user.state}}</td>  
                     <td>{{user.city}}</td>  
                     <td>
                        <a [routerLink]="['/user/view',user.id]" class="btn btn-primary btn-sm">View</a>              
                        <a [routerLink]="['/user/edit',user.id]" class="btn btn-warning btn-sm">Edit</a>    
                        <!-- (click)="deleteUser(user.id)"             -->
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>